<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908385947263-us7an2ctes7kpiglq855qouuurrq16an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908385947263-us7an2ctes7kpiglq855qouuurrq16an</string>
	<key>API_KEY</key>
	<string>AIzaSyCGMdyPKaRtP3Uu_AtCBKZ8Y1L_9EEuVV0</string>
	<key>GCM_SENDER_ID</key>
	<string>908385947263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>doapp-bfab6</string>
	<key>STORAGE_BUCKET</key>
	<string>doapp-bfab6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908385947263:ios:0b78a873fcc59fb9d2394a</string>
	<key>DATABASE_URL</key>
	<string>https://doapp-bfab6.firebaseio.com</string>
</dict>
</plist>